<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
  <nav id="sidebar-wrapper">
   <ul class="sidebar-nav">
       <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
       <li class="sidebar-brand">
           <a href="#top"  onclick = $("#menu-close").click(); >2016 AICT</a>
       </li>
       <li>
           <a href="#top" onclick = $("#menu-close").click(); >Home</a>
       </li>
       <li>
           <a href="#burden" onclick = $("#menu-close").click(); >Burden</a>
       </li>
       <li>
           <a href="#schedule" onclick = $("#menu-close").click(); >Schedule</a>
       </li>
       <li>
           <a href="#fee" onclick = $("#menu-close").click(); >Fee</a>
       </li>
       <li>
           <a href="#blending" onclick = $("#menu-close").click(); >Blending</a>
       </li>
       <li>
           <a href="#calendar" onclick = $("#menu-close").click(); >Study Schedule</a>
       </li>
       <li>
          <%= link_to('Sign in', new_session_path(:user)) %>
       </li>
   </ul>
  </nav>

   <!-- Header -->
   <header id="top" class="header">
       <div class="text-vertical-center">
           <h1>2016 Asia International College Training</h1>
           <h3>7/14 (Thurs.) – 7/20 (Wed.)</h3>
           <h3>This training will be conducted in English</h3>
           <br>
           
           <a href="/files/General_Information_for_2016_International_College_Training_in_Asia.docx" class="btn btn-dark btn-lg" target="_blank">General Announcement</a>
           <a href="/files/trip_a.pdf" class="btn btn-dark btn-lg" target="_blank">Blending Trip Announcement Team A</a><a href="/files/trip_b.pdf" class="btn btn-dark btn-lg" target="_blank">Blending Trip Announcement Team B</a>
           
       </div>
   </header>

   <!-- About -->
   <section id="burden" class="about">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>The Burden of the training</h2>
                   <p class="lead">With  a  burden  for  the  Lord  to  gain  a  group  of  age-turning  young  people,  the churches in Taiwan will be hosting an Asia International College Training. We hope that through such a training, the college students in the churches will be stirred up to pursue the Lord that they would be constituted with the Lord’s up-to-date truth, and that through practicing the corporate God-man living in the training, they would be encouraged in the Body to give themselves to be today’s overcomers. We plan to host such a training in a different country every year. Through such blending in the Body, may the young people’s view and the extent of their spiritual experiences be enlarged that their appreciation for the riches of the Body of Christ will increase. To facilitate the learning of language for the furtherance of the fellowship and coordination of the one new man, this training will be conducted in English. Co-workers from the United States will coordinate in the service of this training. It is our earnest desire that this generation will be the generation to bring the Lord back.</p>
               </div>
           </div>
           <!-- /.row -->
       </div>
       <!-- /.container -->
   </section>
   <!-- Services -->
   <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
   <section id="schedule" class="services bg-primary">
       <div class="container-fluid">
           <div class="row text-center">
               <div class="col-lg-10 col-lg-offset-1">
                   <h2>Training and Registration</h2>
                   <div class="registration-limit">
                     <p>The content of this training are the twelve messages of the 2016 Summer Crystallization-study Training, and all the meetings will be conducted in English.</p>
                     <p>Maximum number of saints that can register from each country is as follows: Hong Kong: 50; Indonesia: 20; Japan: 30; Korea: 100; Malaysia: 100; Mainland China: 50; Philippines: 20; Singapore: 20; the LMA countries: 30. Registration will be closed once the training capacity of 1,000 people is reached.</p>
                    <p>Registration should be collected and filled by each locality.</p>
                   </div>
                   <hr class="middle">
                   <div class="row">
                       <div class="col-md-3 col-sm-6">
                           <div class="service-item">
                               <span class="fa-stack fa-4x">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-calendar fa-stack-1x text-primary"></i>
                           </span>
                               <h4>
                                   <strong>Training meetings</strong>
                               </h4>
                               <p>7/14 (Thurs.) 8am – 7/17 (Lord’s Day) 9:30pm</p>
                           </div>
                       </div>
                       <div class="col-md-3 col-sm-6">
                           <div class="service-item">
                               <span class="fa-stack fa-4x">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-users fa-stack-1x text-primary"></i>
                           </span>
                               <h4>
                                   <strong>Blending trips</strong>
                               </h4>
                               <p>7/18-20 (Mon. – Wed.)</p>
                           </div>
                       </div>
                       <div class="col-md-3 col-sm-6">
                           <div class="service-item">
                               <span class="fa-stack fa-4x">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-exclamation-triangle fa-stack-1x text-primary"></i>
                           </span>
                               <h4>
                                   <strong>Notice</strong>
                               </h4>
                               <p> All trainees must arrive and stay at the blending center on 7/13 (Wed.)</p>
                           </div>
                       </div>
                       <div class="col-md-3 col-sm-6">
                           <div class="service-item">
                               <span class="fa-stack fa-4x">
                               <i class="fa fa-circle fa-stack-2x"></i>
                               <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
                           </span>
                               <h4>
                                   <strong>Venue</strong>
                               </h4>
                               <p>Central Taiwan Blending Center (CTBC)</p>
                           </div>
                       </div>
                   </div>
                   <!-- /.row (nested) -->
               </div>
               <!-- /.col-lg-10 -->
           </div>
           <!-- /.row -->
       </div>
       <!-- /.container -->
   </section>
   <!-- Portfolio -->
   <section id="fee" class="portfolio">
       <div class="container-fluid">
           <div class="row">
               <div class="col-lg-10 col-lg-offset-1 text-center">
                  <h2>Training Fee for Overseas Saints (US$250)</h2>
                  <hr class="middle">
                  <div class="training-fee">
                      US$250 covering transportation from and to the airport, lodging from 7/13 to
 7/19, and all meals from breakfast on 7/14 to lunch on 7/20. <em>Partial registration is not accepted.</em> <p>Please wire your training fee to the following bank account:</p>
                    </div>
                    <hr class="middle middle-fee">
                      <ul class="list-unstyled fee">
                        <li><i class="fa fa fa-anchor fa-fw"></i> ACCOUNT WITH INST : CATHAY UNITED BANK WORLD-TRADE CENTER BRANCH</li>
                        <li><i class="fa fa-map-marker fa-fw"></i> ADDRESS : 456 XINYI ROAD, SEC.4, TAIPEI 110, TAIWAN,R.O.C.</li>
                        <li><i class="fa fa-phone fa-fw"></i> TEL: (886) 2-2720-9191</li>
                        <li><i class="fa fa-credit-card fa-fw"></i> ACCOUNT NO : 065-50-005200-1</li>
                        <li><i class="fa fa-share-square-o fa-fw"></i> SWIFT CODE : UWCBTWTP065</li>
                        <li><i class="fa fa-building fa-fw"></i> BENEFICIARY : THE CHURCH IN TAIPEI</li>
                        <li><i class="fa fa-map-marker fa-fw"></i> ADDESS: 5F-1, XINJI BUILDING, 460 XINYI ROAD, SEC. 4, TAIPEI 110, TAIWAN, R.O.C.</li>
                        <li><i class="fa fa-phone fa-fw"></i> TEL: (+886) 2-2757-5758</li>
                        <li><i class="fa fa-fax fa-fw"></i> FAX: (+886) 2-2757-5750</li>
                      </ul>
               </div>
               <!-- /.col-lg-10 -->
           </div>
           <!-- /.row -->
       </div>
       <!-- /.container -->
   </section>

   <!-- Call to Action -->
   <section id="blending" class="call-to-action bg-primary">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Blending Itineraries</h2>
                   <hr class="middle">
                   <div class="row">
                       <div class="col-md-6">
                           <div class="portfolio-item">
                             <div class="title">
                               <h3>Team A</h3>
                             </div>
                             <div class="content">
                               Yilan & Hualien: Team A will visit scenic spots in Yilan and Hualien, take the train down the scenic Su’ao-Hualien coastline, and enjoy a blending love feast with the churches in Yilan and Hualien. (Team A will stay in Hualien for two nights in a hotel.)
                             </div>
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="portfolio-item">
                             <div class="title">
                               <h3>Team B</h3>
                             </div>
                             <div class="content">
                               Kaohsiung &  Kenting: Team  B  will  enjoy the  coastal  view,  water sports and scenic spots in Kenting National Park as well as a blending love feast with the saints of the church in Kaohsiung. (Team B will stay in Kenting for two nights in a hotel.)
                             </div>
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="portfolio-item">
                             <div class="title">
                               <h3>Notice one</h3>
                             </div>
                             <div class="content">
                               Both teams will depart from the CTBC after breakfast on 7/18 and return to Hall 3 of the church in Taipei by 7pm on 7/20. Please specify on the registration form if your flight schedule requires you to be back in Taipei before 7pm.
                             </div>
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="portfolio-item">
                             <div class="title">
                               <h3>Notice Two</h3>
                             </div>
                             <div class="content">
                               Please specify the team you would like to join when submitting your registration. The maximum capacity of each team is 500 people. Once a team reaches its capacity, trainees will automatically be overflowed to the other team.
                             </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>

   <section id="calendar">
     <div class="container">
       <div class="row">
         <div class="col-lg-12 text-center text-calendar" >
           <h2>2016 College Training Bible & Life-Study Schedule</h2>
           <p>Beginning from Monday, February 22th, 2016, we will read through the Exodus at a pace of three Life-study  messages along with three pages of verses and footnotes of Recovery Version per week. Reading days will be Monday through Saturday while the weekend will be for catching up and reviewing.</p>
           <p>
             <a href="files/Study_Schedule.pdf" target="_blank">Download study schedule pdf file</a>
           </p>
         </div>
          <div class="col-lg-12 text-center responsive-iframe-container">
              <iframe src="https://calendar.google.com/calendar/embed?src=2016collegetraininginasia%40gmail.com&ctz=Asia/Taipei" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>          </div>
          </div>
     </div>
   </section>


   <!-- Map
   <section id="contact" class="map">
       <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
       <br />
       <small>
           <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
       </small>
       </iframe>
   </section>
-->
   <!-- Footer -->
   <footer>
       <div class="container">
           <div class="row">
               <div class="col-lg-10 col-lg-offset-1 text-center">
                  <!--
                   <h4><strong>2016 Asia International College Training</strong></h4>
                   <a href="/files/2016_Asia_International_College_Training_Announcement.pdf" class="btn btn-dark btn-lg" target="_blank">Announcement</a><a href="/files/Registration_Form.xls" class="btn btn-dark btn-lg">Registration Form</a>
                   -->
                   <!--
                    <a href="/files/cta_tw.zip" class="btn btn-dark btn-lg">亞洲大專訓練中文報名資料</a>
                    -->
                   <!-- <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                   <ul class="list-unstyled">
                       <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                                        </ul> -->
                   <!-- <ul class="list-inline">
                       <li>
                           <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                       </li>
                       <li>
                           <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                       </li>
                       <li>
                           <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                       </li>
                   </ul> -->
                  </div>
           </div>
       </div>
      <hr class="large">
        <div class="container footer">
          <p class="text-muted">Copyright &copy; The church in Taipei 2016, <i class="fa fa-envelope-o fa-fw"></i><a href="mailto:2016collegetraininginasia@gmail.com">2016collegetraininginasia@gmail.com</a></p>
        </div>
   </footer>

   <!-- jQuery -->
   <script src="js/jquery.js"></script>

   <!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.min.js"></script>

   <!-- Custom Theme JavaScript -->
   <script>
   // Closes the sidebar menu
   $("#menu-close").click(function(e) {
       e.preventDefault();
       $("#sidebar-wrapper").toggleClass("active");
   });

   // Opens the sidebar menu
   $("#menu-toggle").click(function(e) {
       e.preventDefault();
       $("#sidebar-wrapper").toggleClass("active");
   });

   // Scrolls to the selected menu item on the page
   $(function() {
       $('a[href*=#]:not([href=#])').click(function() {
           if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

               var target = $(this.hash);
               target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
               if (target.length) {
                   $('html,body').animate({
                       scrollTop: target.offset().top
                   }, 1000);
                   return false;
               }
           }
       });
   });
   </script>
